<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="../../images/favicon.png">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="">
    	<meta name="author" content="">
		<title>SafeKink</title>

		<!-- Bootstrap core CSS -->
    	<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    	<meta name="viewport" content="width=device-width" />
		{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
		<script src="https://code.jquery.com/jquery.js"></script> --}}
		
		<!-- Custom fonts for this template -->
		<link href="https://fonts.googleapis.com/css?family=Modak" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

		<link href="../../css/one-page-wonder.css" rel="stylesheet">

		<!-- Custom styles for this template -->
	

	</head>

	<body>
		{{{body}}}

		<!-- Bootstrap core JavaScript -->
    	{{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> --}}
		<script src="../../vendor/jquery/jquery.min.js"></script>
    	<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    	<script src="./js/uStates.js"></script> <!-- creates uStates. -->
    	<script src="http://d3js.org/d3.v3.min.js"></script>
    	<script src="https://unpkg.com/popmotion/dist/popmotion.global.min.js"></script>
    	<script src="./js/safekink.js"></script>

	</body>

</html>