<!DOCTYPE html>
<html>
	<head>
		<title>Safe-Kink</title>
		<link rel="stylesheet" type="text/css" href="style.css">

	</head>

	<body>
		{{{body}}}
		<div class="testBox"></div>
		<img src="SSS.jpg">


		<script type="text/javascript" src="safekink.js"></script>
	</body>

</html>