body {
  font-family: 'Lato';
}


h1, h2{
  font-family: 'Modak', cursive;
}

h3,
h4,
h5,
h6 {
  font-family: 'Lato';
  font-weight: 700;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  /* background: linear-gradient(0deg, #4b4a4a 0%, #030303 100%); */
  background: url('../images/test.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: initial;
  text-align: left !important;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 6.5rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2.2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.502);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.state{
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 1;
}
.state:hover{
  fill-opacity:0.5;
}
#tooltip {   
  position: absolute;           
  text-align: center;
  padding: 20px;             
  margin: 10px;
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 1px;      
  border-radius: 2px;           
  pointer-events: none;         
}
#tooltip h4{
  margin:0;
  font-size:14px;
}
#tooltip{
  background:rgba(0,0,0,0.9);
  border:1px solid grey;
  border-radius:5px;
  font-size:12px;
  width:auto;
  padding:4px;
  color:white;
  opacity:0;
}
#tooltip table{
  table-layout:fixed;
}
#tooltip tr td{
  padding:0;
  margin:0;
}
#tooltip tr td:nth-child(1){
  width:50px;
}
#tooltip tr td:nth-child(2){
  text-align:center;
}

/* svg#statesvg{
  border: 1px solid black;
} */

div#map.container{
  padding: 0;
  margin: 0 0 0 16%;
}

#cards{
  margin-top: 50px;
}

/*media queries*/

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
    height:100vh;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6.5rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 959px) {
  div#map.container{
    display: none;
  }
  header.masthead{
    height: 100vh;
  }
}


@media screen and (max-width: 833px) {
  #dropDown {
    display: block;
    width: 800px;
    height: auto;
    text-align: center;
    margin: 10px, auto, 10px, auto;
  }
  button.btn.btn-success.dropdown-toggle {
    min-width: 150px;
  }
}

@media screen and (min-width: 835px) {
  #dropDown {
    display: none;
  }
}

